body {
    margin: 0;
}

.wrapper {
    width: 70%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo {
    padding: 40px 0;
    padding-left: 44px;
    font: bold 24px/32px 'pt_serifbold', Arial, Helvetica, sans-serif;
    position: relative;
}

.logo__circle {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-radius: 50%;
}

.logo__circle_color_dark-blue {
    background: #0056EC;
}

.logo__circle_color_blue {
    top: 56%;
    left: 8px;
    background: #C8DBFB;
    opacity: .7;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 24px;
    font: 500 14px/16px 'roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000;
    position: relative;
    transition: opacity .5s;
}

.menu__item:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    background: #0056EC;
    width: 0;
    height: 2px;
    opacity: 0;
    transition: opacity .5s, width .5s;
}

.menu__item:hover {
    opacity: .5;
}

.menu__item:hover:after, .menu__item_active:after {
    opacity: 1;
    width: 100%;
}

.menu__item:last-child {
    margin-right: 0;
}

.main {
    padding: 0 48% 100px 0;
    background: no-repeat top right url(img/mainImg.svg);
}

.main__title {
    margin: 0 0 40px 0;
    font: bold 50px/66px 'pt_serifbold', Arial, Helvetica, sans-serif;
}

.main__text {
    margin: 0 0 41px 0;
    font: 500 18px/21px 'roboto', Arial, Helvetica, sans-serif;
}

.main__button {
    font: 500 14px/16px 'roboto', Arial, Helvetica, sans-serif;
}